---
import MarkdownCard from "../../components/MarkdownCard";
import WaitingRoomForm from "../../components/WaitingRoomForm";
import { prisma } from "../../db";
import {
  InferGetStaticParamsType,
  InferGetStaticPropsType,
  GetStaticPaths,
} from "astro";
import Header from "../../components/Header";

// Runs at build time
export const getStaticPaths = (async () => {
  const rooms = await prisma.waitingRoom.findMany();
  return rooms.map((room) => ({
    props: room,
    params: { id: room.id },
  }));
}) satisfies GetStaticPaths;
type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { opensAt, closesAt, title, markdown } = Astro.props as Props;
const { id } = Astro.params as Params;
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>Waiting Room | {title}</title>
  </head>
  <body>
    <main
      class="min-h-screen w-full bg-gradient-to-l from-purple-600 to-indigo-600"
    >
      <Header title={`Waiting Room | ${title}`} />
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-3xl">
          <MarkdownCard content={markdown} title={title} />
          <WaitingRoomForm
            waitingRoomId={id}
            opensAt={opensAt}
            closesAt={closesAt}
            client:only="react"
          />
        </div>
      </div>
    </main>
  </body>
</html>
